.response {
/*  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font: normal 52px/normal "Apple Chancery", Impact, cursive;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);*/
  
  margin-top: 20px;
  margin-bottom: 200px;
  height: 300px;
  font-size: 30px;
  border-style: none;
  box-shadow: none;
  word-wrap: normal;
  word-break: break-all;
  white-space: normal 
}

/*.response:hover {
 text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}*/

.recommendation {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

.ui header {
  margin-top: 20px;
}

.slide {
  transition: left 2s;
  background: rgba(0, 0, 0.2);
}

.slide:hover {
  left: -100%;
}